<div class="navbar">
  <div class="container">
    <div class="navbar__list">
        <div class="navbar__logo">
        <%= link_to root_path do %>
            <%= image_tag "/assets/logo.png", alt: 'logo of himalayan wear'%>
        <% end %>
        </div>

        <div class="subnav">
          <div class="subnavlink navbar--link"><%= link_to "Accessories", "#" %></div>
          <div class="subnav-content">
            <% SubCategory.all.each do |sub| %>
                <%= link_to sub.name, "/w/" + sub.url %>
            <% end %>
          </div>
        </div>

        <% if session[:user_id] %>
            <div class="navbar--link"><%= link_to "My Account", "#" %></div>
        <% else %>
            <div class="navbar--link"><%= link_to "Login", login_path %></div>
        <% end %>

        <% if current_user&.is_admin %>
          <div class="subnav navbar--link"><%= link_to "Admin", admin_index_path %></div>
        <% end %>
    </div>
  </div>
</div>
